<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>19/07/13 16:40:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/07/13 16:40:48</td>   <td>-266</td> <td>&nbsp;</td><td title="&gt;&gt;CL.setData()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/07/13 16:40:48</td>   <td>-250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/07/13 16:40:48</td>   <td>-562</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/07/13 16:40:50</td>   <td>1172</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/07/13 16:40:50</td>   <td>1108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.CL@10143d3]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
</table>
